.match-input-height {
  background-color: rgb(97, 4, 147) !important; /* Material deep purple */
  color: white !important;              /* White text */
}

.match-input-height mat-icon {
  color: white !important; /* Make the icon white too */
}

.add-to-cart-btn {
  width: 150px;
  height: 56px;
  background-color: rgb(97, 4, 147);
  color: white;
  white-space: nowrap;
}

.add-to-cart-btn mat-icon {
  color: white !important; /* Make the icon white too */
}

mat-form-field input {
  padding-left: 8px;  /* push text a bit right */
}

.add-to-cart-btn[disabled],
.add-to-cart-btn.mat-button-disabled,
.add-to-cart-btn[aria-disabled="true"] {
  background-color: #d1d5db !important; /* light gray */
  color: #6b7280 !important;            /* gray text */
  pointer-events: none;                 /* optional */
  opacity: 0.8;
}


