.my-apply-btn {
  background-color: rgb(97, 4, 147); /* teal dark */
  color: rgb(255, 255, 255);              /* text color */
}

/* Optional: change hover background */
.my-apply-btn:hover {
  background-color: #000000;
}