.bg-primary {
  background-color: #5B21B6;
  color: white;
  font-weight: 600;
}

.bg-primary:hover {
  background-color: #4c1d95;
}

::ng-deep .login-form .mat-mdc-input-element {
  padding-left: 0.3rem !important;
}

::ng-deep .login-form .mat-mdc-text-field-wrapper.mdc-text-field--outlined {
  padding-left: 0.3rem !important;
}
